@import "tailwindcss";

@import "@fontsource/open-sans/300.css";
@import "@fontsource/open-sans/400.css";
@import "@fontsource/open-sans/500.css";
@import "@fontsource/open-sans/600.css";
@import "@fontsource/open-sans/700.css";
@import "@fontsource/open-sans/800.css";

@import "@fontsource/montserrat/100.css";
@import "@fontsource/montserrat/200.css";
@import "@fontsource/montserrat/300.css";
@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/500.css";
@import "@fontsource/montserrat/600.css";
@import "@fontsource/montserrat/800.css";
@import "@fontsource/montserrat/900.css";

@import "@fontsource/poppins/100.css";
@import "@fontsource/poppins/200.css";
@import "@fontsource/poppins/300.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/800.css";
@import "@fontsource/poppins/900.css";

@import "@icon/icofont/icofont.css";

@import "boxicons/css/boxicons.min.css";
@import "remixicon/fonts/remixicon.css";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 575px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 991px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1366px;

  --container-c-sm: var(--breakpoint-sm);
  --container-c-md: var(--breakpoint-md);
  --container-c-lg: var(--breakpoint-lg);
  --container-c-xl: var(--breakpoint-xl);
  --container-c-2xl: var(--breakpoint-2xl);

  --font-open-sans: "Open Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-icofont: "IcoFont";

  /* Orange */
  --color-c-orange: #ed3c0d;
  /* Yellow */
  --color-c-yellow: #ffbb2c;

  /* Indigo */
  --color-c-indigo: #3f43fd;

  /* Blue (dark to light) */
  --color-c-blue-0: #010246;
  --color-c-blue-1: #010351;
  --color-c-blue-2: #01036f;
  --color-c-blue-3: #010479;
  --color-c-blue-4: #010483;
  --color-c-blue-5: #0205a1;
  --color-c-blue-6: #0d12fc;
  --color-c-blue-7: #2a34ff;
  --color-c-blue-8: #6c7dff;
  --color-c-blue-9: #aab4ff;

  /* Green (dark to light) */
  --color-c-green-0: #149f6e;
  --color-c-green-1: #17b57d;
  --color-c-green-2: #18d26e;
  --color-c-green-3: #1acc8d;
  --color-c-green-4: #2be4a2;
  --color-c-green-5: #34e5a6;
  --color-c-green-6: #4be8b0;
  --color-c-green-7: #61ebba;
  --color-c-green-8: #7ceec6;
  --color-c-green-9: #d2f9eb;

  /* Gray (dark to light) */
  --color-c-gray-0: #343a40;
  --color-c-gray-1: #444444;
  --color-c-gray-2: #777777;
  --color-c-gray-3: #aaaaaa;
  --color-c-gray-4: #bababa;
  --color-c-gray-5: #ccc;
  --color-c-gray-6: #ddd;
  --color-c-gray-7: #eee;
  --color-c-gray-8: #f5f5ff;
  --color-c-gray-9: #ffffff;
}



@layer base {
  /* Slides */
  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-down {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-left {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-right {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* Pops */
  @keyframes pop-up {
    from {
      transform: scale(0.5) translateX(10px);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes pop-down {
    from {
      transform: scale(1.1);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  /* Continuous float */
  @keyframes up-down-loop {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes scroll-infinit {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

}


@utility animate-slide-up {
  animation: slide-up 0.5s ease-in-out forwards;
}
@utility animate-slide-down {
  animation: slide-down 0.5s ease-in-out forwards;
}
@utility animate-slide-left {
  animation: slide-left 0.5s ease-in-out forwards;
}
@utility animate-slide-right {
  animation: slide-right 0.5s ease-in-out forwards;
}

@utility animate-pop-up {
  animation: pop-up 0.5s ease-in-out forwards;
}
@utility animate-pop-down {
  animation: pop-down 0.5s ease-in-out forwards;
}

@utility animate-up-down-loop {
  animation: up-down-loop 1s ease-in-out infinite;
}

@utility animate-scroll-infinit {
  animation: scroll-infinit 15s linear infinite;
}
